{% extends 'base.html' %}
{% block title %} Crear Cita {% endblock %}
{% block content %}
<h1>Registrar Cita</h1>
<form action="{{ url_for('cita.create') }}" method="POST">
    <div class="mb-3">
        <label>Médico</label>
        <select name="medico_id" class="form-select" required>
            {% for medico in medicos %}
            <option value="{{ medico.id }}">{{ medico.nombre }} {{ medico.apellido }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <label>Paciente</label>
        <select name="paciente_id" class="form-select" required>
            {% for paciente in pacientes %}
            <option value="{{ paciente.id }}">{{ paciente.nombre }} {{ paciente.apellido }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <label>Fecha y Hora</label>
        <input type="datetime-local" name="fecha" class="form-control" required>
    </div>
    <div class="mb-3">
        <label>Descripción</label>
        <textarea name="descripcion" class="form-control" rows="3" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Registrar</button>
</form>
<link rel="stylesheet" href="{{ url_for('static', filename='cita/cita_create.css') }}">
{% endblock %}
